@import "tailwindcss";

:root {
  --background: linear-gradient(135deg, #02386e, #00498d, #3399ff);
  --foreground: #171717;

  --font-geist-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-geist-mono: "Courier New", Courier, monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(135deg, #001f3f, #004080, #3399ff);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}
